  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <app-progress></app-progress>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-end">
          <app-attempts></app-attempts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>{{title}}</h4>
        <p>{{phrases[0].eng}}</p>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary">Traduzir</button>
        </div>
      </div>
    </div>
  </div>